{:paths ["src" "resources"]
 :deps {org.clojure/core.async {:mvn/version "1.1.587"}
        cprop {:mvn/version "0.1.15"}
        mount {:mvn/version "0.1.16"}
        cheshire {:mvn/version "5.10.0"}
        uritemplate-clj {:mvn/version "1.2.3"}
        clj-http {:mvn/version "3.10.0"}
        ring/ring-jetty-adapter {:mvn/version "1.8.0"}
        ring {:mvn/version "1.8.0"}
        metosin/ring-http-response {:mvn/version "0.9.1"}
        org.apache.logging.log4j/log4j-api {:mvn/version "2.13.1"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.13.1"}
        org.apache.logging.log4j/log4j-1.2-api {:mvn/version "2.13.1"}
        }
 }
